<% scroll = [['https://amyshealthybaking.com/wp-content/uploads/2017/01/mini-chocolate-chip-peanut-butter-cookies_a-LL-300x300.jpg','chocolate chip','this is a chocolate chip cookie', 9],['https://foodschmooze.org/wp-content/uploads/2017/04/Carrot-Cake-Cupcakes_recipe_cTom-Hirschfeld_post-300x300.jpg','Carrot cake muffin','this is a Carrot cake muffin',10],['https://i.pinimg.com/originals/af/2b/12/af2b12e64ff5b400e3670ea6ce6e66d9.jpg','Red velvet cake','this is a red velvet cake',50]]%>

<div class="homeContainer">
  <div class="welcome">
    <img src="/julia.jpg" alt="" class="julia">
    <h2 class="landing">Olivia's backed goods</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <hr>
  <h2>Hot Items</h2>
  <% scroll = [['https://amyshealthybaking.com/wp-content/uploads/2017/01/mini-chocolate-chip-peanut-butter-cookies_a-LL-300x300.jpg','chocolate chip','this is a chocolate chip cookie', 9],['https://foodschmooze.org/wp-content/uploads/2017/04/Carrot-Cake-Cupcakes_recipe_cTom-Hirschfeld_post-300x300.jpg','Carrot cake muffin','this is a Carrot cake muffin',10],['https://i.pinimg.com/originals/af/2b/12/af2b12e64ff5b400e3670ea6ce6e66d9.jpg','Red velvet cake','this is a red velvet cake',50]]%>
  <div class="main-carousel">
    <% scroll.each do |div| %>
    <% img = div[0] %>
    <% name = div[1] %>
    <% description = div[2] %>
    <% price = div[3] %>
    <div class="carousel-cell">
      <img src="<%= img %>" alt="">
      <h3><%= name %></h3>
      <p><%= description %></p>
      <h4>$<%= price %> per dozen</h4>
    </div>
    <% end %>
  </div>

</div>
