<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/main.css">
    <title></title>
  </head>
  <body>
    <header class="top">
      <h1 class="title">Olivia's</h1>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/cookie">Cookies</a></li>
        <li><a href="/cake">Cakes</a></li>
        <li><a href="/muffin">Muffins</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <small>&copy; Olivia's baked goods Inc. &mdash; 2018</small>
      <div class="social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
      </div>
    </footer>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/main.js">

    </script>
  </body>
</html>
