<h2>muffin</h2>
<% muffins = [['https://foodschmooze.org/wp-content/uploads/2017/04/Carrot-Cake-Cupcakes_recipe_cTom-Hirschfeld_post-300x300.jpg','Carrot cake muffin','this is a Carrot cake muffin',10],['https://www.a-kitchen-addiction.com/wp-content/uploads/2017/05/blackberry-raspberry-coffee-cake-muffins-recipe-vert-300x300.jpg','raspberry coffee cake muffin','this is a raspberry coffee cake muffin',12],['http://www.primefoodproductsinc.com/wp-content/uploads/2015/10/BASIC_MUFFIN-MIX_AND_BLUEBERRY_MUFFIN_MIX-300x300.jpg','blueberry muffin','this a blueberry muffin',10]]%>
<div class="container">
<% muffins.each do |muffin| %>
<% img = muffin[0] %>
<% name = muffin[1] %>
<% description = muffin[2] %>
<% price = muffin[3] %>
<% muff = Item.new(img,name,description,price) %>
<div class="item">
  <img src="<%= img %>" alt="">
  <h3><%= name %></h3>
  <p><%= description %></p>
  <h4>3 for $<%= price %></h4>
</div>
<% end %>
</div>
